.navbar {
  background-color: #4E4E45;
}

.navbar-link {
  color: white;
  padding-top: 18px;
}

.navbar-link:hover {
  color: #BDBB98;
}

.navbar-brand:hover {
  text-decoration: underline;
}

.main-view {
  font-family: 'Syne Mono', monospace;
}

@media only screen and (max-width: 993px) {
  .search-bar {
    display: block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}

// @media only screen and (max-width: 993px) {
//   ul {
//     justify-content: space-around;
//   }
// }
