.genre-view-title {
  text-decoration: underline;
  font-size: 26px;
  text-transform: uppercase;
  margin-top: -30px;
  margin-bottom: 12px;
}

.genre-description {
  margin-left:10px;
  margin-right:10px;
  margin-bottom: 20px;
}

h4 {
  text-decoration: underline;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: -15px;
}

.genre-results {
  justify-content: center;
  margin-right: 10px;
}