body {
  background-color: #99998E;
}

form {
  max-width: 500px;
  margin: auto;
}

.register-heading {
  text-align: center;
}

.form-field {
  background-color: #BDBB98;
  border: 1px solid black;
}

.existing-user {
  width: 200px;
  float: right;
}