body {
  background-color: #99998E;
}

form {
  max-width: 500px;
  margin: auto;
}

.register-heading {
  text-align: center;
  text-decoration: underline;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: -30px;
  margin-bottom: 12px;
}

.form-field {
  background-color: #BDBB98;
  border: 1px solid black;
}

.existing-user {
  width: 220px;
  float: right;
}

@media only screen and (max-width: 356px) {
  .existing-user {
    width: 180px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 356px) {
  .sign-in-button {
    font-size: 12px;
  }
}