.director-view-title {
  text-decoration: underline;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: -30px;
  margin-bottom: 12px;
}

.director-view {
  margin-left: 10px;
  margin-right: 10px;
}

.director-bio {
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

h4 {
  text-decoration: underline;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: -15px;
}

.director-results {
  justify-content: center;
  margin-right: 10px;
}